<h2>New Credit Card</h2>

<form action="<%= post_url %>" method="post">
  <div class="field">
    <label for="pan">Card Number</label>
    <input  id="pan" type="text" name="credit_card[pan]" />
  </div>

  <div class="field">
    <label for="expiration">Expiration Date (YYYY-MM)</label>
    <input  id="expiration" type="text" name="credit_card[expiration]" />
  </div>


  <input type="submit" />
</form>

<a href="<%= back_url %>">Back</a>
